:root{
    --main-color: #3A75AF;
}

html, body, main{
    height: 100%;
    justify-content: center;
}

#register-result{
    width: 40rem;
    height: 50rem;
    flex-shrink: 0;
    position: relative;
    background-color: #FFF;
    border-radius: 1rem;
    box-shadow: 0 4px 15px 1px #D6D6D6;
}


/*
  HEADER
*/
#register-result > header{
    width: 100%;
    padding: 1rem 2rem 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 1rem;
    background-color: var(--main-color);
}

#register-result > header > img{
    width: 10rem;
    margin-bottom: .5rem;
}

#register-result > header > p{
  color: #FFF;
  font-size: 1.8rem;
  text-align: center;
}


/*
  RESULT BOX
*/
#register-result > .result-box{
    width: 100%;
    padding: 3.5rem 3.5rem 0 3.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#register-result > .result-box > i{
    --icon-size: 15rem;
    width: 15rem;
    height: 15rem;
    margin-bottom: 3rem;
    list-style: none;
}

#register-result > .result-box > p{
    color: #656565;
    font-size: 1.8rem;
}


/*
  BUTTON BOX
*/
#register-result > .button-box{
    width: 100%;
    height: auto;
    padding: 0 3.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 3rem;
}

#register-result > .button-box > *[class^="button"]{
    padding: 1rem 2.5rem;
    display: inline-block;
    color: #FFF;
    font-size: 1.6rem;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 1rem;
}

#register-result > .button-box > .button-login{
    background-color: var(--main-color);
    box-shadow: 0 4px 4px 0 #D6D6D6;
    cursor: pointer;
}



@media (max-width: 350px) {
    #register-result{
        width: 90%;
    }

    #register-result > .result-box{
        padding: 3.5rem 2rem 0 2rem;
    }

    #register-result > .button-box{
        padding: 0 2rem;
    }
}



@media (max-height: 500px) and (max-width: 500px) , (max-height: 550px) and (min-width: 501px) {
    html, body, main{
        height: auto;
        padding: 2rem 0;
        justify-content: flex-start;
    }
}