#noscript{
  width: 95%;
  max-width: 400px;
  margin: 50vh auto 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #FFF;
  border-radius: 10px;
  box-shadow: 0 4px 15px 1px #D6D6D6;
  transform: translateY(-50%);
}

#noscript > h1{
  width: 100%;
  margin: 0;
  padding: 30px 10px;
  box-sizing: border-box;
  display: inline-block;
  background-color: #36B889;
  color: #FFF;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  border-radius: 10px;
}

#noscript > p{
  margin: 0;
  padding: 30px 10px;
  box-sizing: border-box;
  color: #36B889;
  font-size: 16px;
  text-align: center;
}
